@import 'theme.scss';

$easing: cubic-bezier(0.68, -0.15, 0.265, 1.35);
$iteration: 1;

.toggle-body {
  width: 3.5rem;
  height: 2rem;
  position: absolute;
  top: 8%;
  right: 8%;
  @include themify($themes) {
    background: themed('text-color');
  }
  border-radius: 2rem;
  animation: angle-reverse $switch-transition-delay $easing;
  cursor: pointer;
}
.toggle-body--on {
  animation: angle $switch-transition-delay $easing;
  animation-direction: alternate;
}
.toggle-btn {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: calc(50% - 1rem / 2);
  left: calc(27% - 1rem / 2);
  background: white;
  border-radius: 1rem;
  @include themify($themes) {
    background: themed('accent-color');
  }
  transform:  translateX(0);
  transition: $switch-transition-delay $easing;
}
.toggle-btn--on {
  transition: $switch-transition-delay $easing;
  transform:  translateX(150%);
  @include themify($themes) {
    background: themed('accent-color');
  }
}

@keyframes angle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes angle-reverse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}